*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to bottom, rgb(202, 242, 255), rgb(143, 204, 224), rgb(12, 12, 92));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3{
    text-align: center;
}

h3{
    color: rgba(255, 0, 0, 0.774);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.btn{
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



a{
    padding: 10px;
    background-color: black;
    border-radius: 3px;
    box-shadow: 1px 2px 2px gray;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.692);
    color: black;
}

a:active{
    transform: scale(90%);
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
    margin: 30px;
}

